<a href="https://colab.research.google.com/github/rohilsheth/CIS5300-Final-Project/blob/main/530datacollection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import requests

In [1]:
#group
def gender_check(json_var):
  #individual artist
  if len(json_var['members']) == 0:
    gender = json_var['gender']
    return gender
  male_count = 0
  female_count = 0
  for member in json_var['members']:
    if member['gender'] == 'Male':
      male_count += 1
    elif member['gender'] == 'Female':
      female_count += 1
  if male_count > 0 and female_count == 0:
    gender = 'Male'
  if female_count > 0 and male_count == 0:
    gender = 'Female'
  if male_count > 0 and female_count > 0:
    gender = 'Mixed'
  if male_count == 0 and female_count == 0:
    gender = 'Unknown'
  return gender

def song_count(json_var):
  count = 0
  for album in json_var['albums']:
    for song in album['songs']:
      count +=1
  return count
def lyrics_check(song):
  if len(song['lyrics']) == 0:
    return False
  if song['language_detect'] != 'english':
    return False
  if len(song['lyrics'].split()) < 10:
    return False
  if song['publicationDate'] == '':
    return False
  return True

In [59]:
import pandas as pd
songs_df = pd.DataFrame(columns = ['Name','Song Title','Publication Date','Gender','Lyrics'])
songs_df

Empty DataFrame
Columns: [Name, Song Title, Publication Date, Gender, Lyrics]
Index: []

In [5]:
songs = []
rejected_artists = 0
rejected_songs = 0
for i in range(0,77600,200):
  print('iteration: ',i)
  x = requests.get(f'https://wasabi.i3s.unice.fr/api/v1/artist_all/{i}')
  xj = x.json()
  for artist in xj:
    artist_name = artist['name']
    try:
      gender = gender_check(artist)
      gender_error = False
    except:
      gender_error = True
      rejected_artists +=1
    if song_count(artist) > 5 and not gender_error:
      for album in artist['albums']:
        for song in album['songs']:
          if lyrics_check(song):
            title = song['title']
            date = song['publicationDate']
            lyrics = song['lyrics']
            try:
              s = ''
              genres = song['genre']
              for genre in genres:
                s = s + genre + ','
              genre_str = s
            except:
              genre_str = 'N/A'
            songs.append([artist_name, title, date, gender, genre_str, lyrics])
    else:
      rejected_songs += 1
  print("list length: ",len(songs))
print('rejected_songs',rejected_songs)
print('rejected_artists',rejected_artists)

iteration:  0
list length:  1601
iteration:  200
list length:  2870
iteration:  400
list length:  4575
iteration:  600
list length:  6530
iteration:  800
list length:  8570
iteration:  1000
list length:  10394
iteration:  1200
list length:  12021
iteration:  1400
list length:  13238
iteration:  1600
list length:  15467
iteration:  1800
list length:  17300
iteration:  2000
list length:  19731
iteration:  2200
list length:  20443
iteration:  2400
list length:  22370
iteration:  2600
list length:  24397
iteration:  2800
list length:  26074
iteration:  3000
list length:  27486
iteration:  3200
list length:  28892
iteration:  3400
list length:  30701
iteration:  3600
list length:  32411
iteration:  3800
list length:  34400
iteration:  4000
list length:  36256
iteration:  4200
list length:  37775
iteration:  4400
list length:  39670
iteration:  4600
list length:  41797
iteration:  4800
list length:  43113
iteration:  5000
list length:  46131
iteration:  5200
list length:  48573
iteration:  5400
list length:  50711
iteration:  5600
list length:  52546
iteration:  5800
list length:  54414
iteration:  6000
list length:  55663
iteration:  6200
list length:  57616
iteration:  6400
list length:  60060
iteration:  6600
list length:  62710
iteration:  6800
list length:  65537
iteration:  7000
list length:  67073
iteration:  7200
list length:  69568
iteration:  7400
list length:  72637
iteration:  7600
list length:  74770
iteration:  7800
list length:  77115
iteration:  8000
list length:  79482
iteration:  8200
list length:  82820
iteration:  8400
list length:  85334
iteration:  8600
list length:  88627
iteration:  8800
list length:  93204
iteration:  9000
list length:  96676
iteration:  9200
list length:  100000
iteration:  9400
list length:  102673
iteration:  9600
list length:  105681
iteration:  9800
list length:  108973
iteration:  10000
list length:  111362
iteration:  10200
list length:  114201
iteration:  10400
list length:  116346
iteration:  10600
list length:  118489
iteration:  10800
list length:  120488
iteration:  11000
list length:  122806
iteration:  11200
list length:  124529
iteration:  11400
list length:  127075
iteration:  11600
list length:  129136
iteration:  11800
list length:  130977
iteration:  12000
list length:  132847
iteration:  12200
list length:  134995
iteration:  12400
list length:  136658
iteration:  12600
list length:  138478
iteration:  12800
list length:  141168
iteration:  13000
list length:  143026
iteration:  13200
list length:  145089
iteration:  13400
list length:  148329
iteration:  13600
list length:  149798
iteration:  13800
list length:  152351
iteration:  14000
list length:  154499
iteration:  14200
list length:  156783
iteration:  14400
list length:  159301
iteration:  14600
list length:  161191
iteration:  14800
list length:  163374
iteration:  15000
list length:  166089
iteration:  15200
list length:  167898
iteration:  15400
list length:  170621
iteration:  15600
list length:  172937
iteration:  15800
list length:  174335
iteration:  16000
list length:  176403
iteration:  16200
list length:  179769
iteration:  16400
list length:  182594
iteration:  16600
list length:  184599
iteration:  16800
list length:  186904
iteration:  17000
list length:  189080
iteration:  17200
list length:  191169
iteration:  17400
list length:  193002
iteration:  17600
list length:  194977
iteration:  17800
list length:  197282
iteration:  18000
list length:  199297
iteration:  18200
list length:  202181
iteration:  18400
list length:  204441
iteration:  18600
list length:  206556
iteration:  18800
list length:  208957
iteration:  19000
list length:  210416
iteration:  19200
list length:  212549
iteration:  19400
list length:  214716
iteration:  19600
list length:  217560
iteration:  19800
list length:  220229
iteration:  20000
list length:  222627
iteration:  20200
list length:  227644
iteration:  20400
list length:  229797
iteration:  20600
list length:  232416
iteration:  20800
list length:  234372
iteration:  21000
list length:  236546
iteration:  21200
list length:  238092
iteration:  21400
list length:  240581
iteration:  21600
list length:  242711
iteration:  21800
list length:  244850
iteration:  22000
list length:  245815
iteration:  22200
list length:  249124
iteration:  22400
list length:  251700
iteration:  22600
list length:  254635
iteration:  22800
list length:  256582
iteration:  23000
list length:  258269
iteration:  23200
list length:  260285
iteration:  23400
list length:  262952
iteration:  23600
list length:  265074
iteration:  23800
list length:  266657
iteration:  24000
list length:  268163
iteration:  24200
list length:  269893
iteration:  24400
list length:  271645
iteration:  24600
list length:  273559
iteration:  24800
list length:  277263
iteration:  25000
list length:  279192
iteration:  25200
list length:  281440
iteration:  25400
list length:  283087
iteration:  25600
list length:  285090
iteration:  25800
list length:  287266
iteration:  26000
list length:  289760
iteration:  26200
list length:  292692
iteration:  26400
list length:  295136
iteration:  26600
list length:  297029
iteration:  26800
list length:  299014
iteration:  27000
list length:  301941
iteration:  27200
list length:  304634
iteration:  27400
list length:  307652
iteration:  27600
list length:  310873
iteration:  27800
list length:  312556
iteration:  28000
list length:  315132
iteration:  28200
list length:  317248
iteration:  28400
list length:  319302
iteration:  28600
list length:  321787
iteration:  28800
list length:  324716
iteration:  29000
list length:  328220
iteration:  29200
list length:  330199
iteration:  29400
list length:  332499
iteration:  29600
list length:  334135
iteration:  29800
list length:  335791
iteration:  30000
list length:  337236
iteration:  30200
list length:  339786
iteration:  30400
list length:  342121
iteration:  30600
list length:  344437
iteration:  30800
list length:  346408
iteration:  31000
list length:  349351
iteration:  31200
list length:  350925
iteration:  31400
list length:  352857
iteration:  31600
list length:  354338
iteration:  31800
list length:  356336
iteration:  32000
list length:  358700
iteration:  32200
list length:  360771
iteration:  32400
list length:  362479
iteration:  32600
list length:  364331
iteration:  32800
list length:  365430
iteration:  33000
list length:  367307
iteration:  33200
list length:  369858
iteration:  33400
list length:  371811
iteration:  33600
list length:  374565
iteration:  33800
list length:  379103
iteration:  34000
list length:  381971
iteration:  34200
list length:  385099
iteration:  34400
list length:  387699
iteration:  34600
list length:  390863
iteration:  34800
list length:  394144
iteration:  35000
list length:  395675
iteration:  35200
list length:  398581
iteration:  35400
list length:  401364
iteration:  35600
list length:  404018
iteration:  35800
list length:  405471
iteration:  36000
list length:  406854
iteration:  36200
list length:  408937
iteration:  36400
list length:  410752
iteration:  36600
list length:  412488
iteration:  36800
list length:  414871
iteration:  37000
list length:  416976
iteration:  37200
list length:  418707
iteration:  37400
list length:  420349
iteration:  37600
list length:  422661
iteration:  37800
list length:  425073
iteration:  38000
list length:  426642
iteration:  38200
list length:  427435
iteration:  38400
list length:  429000
iteration:  38600
list length:  431637
iteration:  38800
list length:  433530
iteration:  39000
list length:  435424
iteration:  39200
list length:  437148
iteration:  39400
list length:  439460
iteration:  39600
list length:  441728
iteration:  39800
list length:  444047
iteration:  40000
list length:  444829
iteration:  40200
list length:  446760
iteration:  40400
list length:  449138
iteration:  40600
list length:  451088
iteration:  40800
list length:  452851
iteration:  41000
list length:  453851
iteration:  41200
list length:  456901
iteration:  41400
list length:  459359
iteration:  41600
list length:  461377
iteration:  41800
list length:  462351
iteration:  42000
list length:  463640
iteration:  42200
list length:  466166
iteration:  42400
list length:  468350
iteration:  42600
list length:  470366
iteration:  42800
list length:  471993
iteration:  43000
list length:  473285
iteration:  43200
list length:  475107
iteration:  43400
list length:  476993
iteration:  43600
list length:  479016
iteration:  43800
list length:  481661
iteration:  44000
list length:  482556
iteration:  44200
list length:  484749
iteration:  44400
list length:  486322
iteration:  44600
list length:  488387
iteration:  44800
list length:  491657
iteration:  45000
list length:  494522
iteration:  45200
list length:  496553
iteration:  45400
list length:  499000
iteration:  45600
list length:  501616
iteration:  45800
list length:  504177
iteration:  46000
list length:  506695
iteration:  46200
list length:  508204
iteration:  46400
list length:  509795
iteration:  46600
list length:  511656
iteration:  46800
list length:  514124
iteration:  47000
list length:  516014
iteration:  47200
list length:  517782
iteration:  47400
list length:  519582
iteration:  47600
list length:  523675
iteration:  47800
list length:  525978
iteration:  48000
list length:  528609
iteration:  48200
list length:  530767
iteration:  48400
list length:  533209
iteration:  48600
list length:  535235
iteration:  48800
list length:  536884
iteration:  49000
list length:  539415
iteration:  49200
list length:  542809
iteration:  49400
list length:  545102
iteration:  49600
list length:  546757
iteration:  49800
list length:  548889
iteration:  50000
list length:  550695
iteration:  50200
list length:  552272
iteration:  50400
list length:  553535
iteration:  50600
list length:  555597
iteration:  50800
list length:  557522
iteration:  51000
list length:  558838
iteration:  51200
list length:  560729
iteration:  51400
list length:  563159
iteration:  51600
list length:  564324
iteration:  51800
list length:  566218
iteration:  52000
list length:  568201
iteration:  52200
list length:  572231
iteration:  52400
list length:  574718
iteration:  52600
list length:  577593
iteration:  52800
list length:  579718
iteration:  53000
list length:  583398
iteration:  53200
list length:  585412
iteration:  53400
list length:  587372
iteration:  53600
list length:  588522
iteration:  53800
list length:  590749
iteration:  54000
list length:  593583
iteration:  54200
list length:  595649
iteration:  54400
list length:  598157
iteration:  54600
list length:  599993
iteration:  54800
list length:  602290
iteration:  55000
list length:  604042
iteration:  55200
list length:  606240
iteration:  55400
list length:  608744
iteration:  55600
list length:  611461
iteration:  55800
list length:  613437
iteration:  56000
list length:  616416
iteration:  56200
list length:  618892
iteration:  56400
list length:  620364
iteration:  56600
list length:  622195
iteration:  56800
list length:  623949
iteration:  57000
list length:  625766
iteration:  57200
list length:  628384
iteration:  57400
list length:  631108
iteration:  57600
list length:  633249
iteration:  57800
list length:  635625
iteration:  58000
list length:  637015
iteration:  58200
list length:  640200
iteration:  58400
list length:  643346
iteration:  58600
list length:  645114
iteration:  58800
list length:  647815
iteration:  59000
list length:  649656
iteration:  59200
list length:  652678
iteration:  59400
list length:  654848
iteration:  59600
list length:  656556
iteration:  59800
list length:  658717
iteration:  60000
list length:  660276
iteration:  60200
list length:  662761
iteration:  60400
list length:  664549
iteration:  60600
list length:  666620
iteration:  60800
list length:  668334
iteration:  61000
list length:  670357
iteration:  61200
list length:  672676
iteration:  61400
list length:  675020
iteration:  61600
list length:  677245
iteration:  61800
list length:  679153
iteration:  62000
list length:  681511
iteration:  62200
list length:  683724
iteration:  62400
list length:  686195
iteration:  62600
list length:  688538
iteration:  62800
list length:  691106
iteration:  63000
list length:  694160
iteration:  63200
list length:  696521
iteration:  63400
list length:  699992
iteration:  63600
list length:  702396
iteration:  63800
list length:  704870
iteration:  64000
list length:  706880
iteration:  64200
list length:  709007
iteration:  64400
list length:  711254
iteration:  64600
list length:  713731
iteration:  64800
list length:  716018
iteration:  65000
list length:  717942
iteration:  65200
list length:  720406
iteration:  65400
list length:  723152
iteration:  65600
list length:  725667
iteration:  65800
list length:  728318
iteration:  66000
list length:  731423
iteration:  66200
list length:  734670
iteration:  66400
list length:  739092
iteration:  66600
list length:  741805
iteration:  66800
list length:  746630
iteration:  67000
list length:  751016
iteration:  67200
list length:  754843
iteration:  67400
list length:  758257
iteration:  67600
list length:  761942
iteration:  67800
list length:  765129
iteration:  68000
list length:  767809
iteration:  68200
list length:  770754
iteration:  68400
list length:  773336
iteration:  68600
list length:  777667
iteration:  68800
list length:  780158
iteration:  69000
list length:  784215
iteration:  69200
list length:  787276
iteration:  69400
list length:  790044
iteration:  69600
list length:  793230
iteration:  69800
list length:  796732
iteration:  70000
list length:  800032
iteration:  70200
list length:  801861
iteration:  70400
list length:  804987
iteration:  70600
list length:  808145
iteration:  70800
list length:  809972
iteration:  71000
list length:  813028
iteration:  71200
list length:  816128
iteration:  71400
list length:  818679
iteration:  71600
list length:  821091
iteration:  71800
list length:  823580
iteration:  72000
list length:  825392
iteration:  72200
list length:  827900
iteration:  72400
list length:  829643
iteration:  72600
list length:  832123
iteration:  72800
list length:  833943
iteration:  73000
list length:  836522
iteration:  73200
list length:  838670
iteration:  73400
list length:  840486
iteration:  73600
list length:  842728
iteration:  73800
list length:  845570
iteration:  74000
list length:  847614
iteration:  74200
list length:  849399
iteration:  74400
list length:  851138
iteration:  74600
list length:  853351
iteration:  74800
list length:  855059
iteration:  75000
list length:  856927
iteration:  75200
list length:  859364
iteration:  75400
list length:  861099
iteration:  75600
list length:  863221
iteration:  75800
list length:  866163
iteration:  76000
list length:  868321
iteration:  76200
list length:  870610
iteration:  76400
list length:  873113
iteration:  76600
list length:  875158
iteration:  76800
list length:  876647
iteration:  77000
list length:  878371
iteration:  77200
list length:  879490
iteration:  77400
list length:  879793
rejected_songs 32453
rejected_artists 4

In [7]:
import pandas as pd
df = pd.DataFrame(songs)

,0,1,2,3,4,5
0,A,Turn It Up,1998-06-22,Male,N/A,Turn it up<br>I don&apos;t know where you&apos...
1,A,Foghorn,1998-06-22,Male,N/A,"Sick of you, how old do you think you are?<br>..."
2,A,Cheeky Monkey,1998-06-22,Male,N/A,My name is Jason<br>I&apos;ll rock yer face in...
3,A,No. 1,1998-06-22,Male,N/A,Got to get out more<br>Get in the place<br>Got...
4,A,Bad Idea,1998-06-22,Male,N/A,Bad idea (x4) <br><br>Ninety-nine per cent is ...
...,...,...,...,...,...,...
879788,Zebra & Giraffe,Arm Yourself,0000-00-00,,N/A,I get the sense<br>As I look around tonight<br...
879789,Zebra & Giraffe,Black Crow,2008-05-05,,N/A,I thought I was invincible<br>Until I tried to...
879790,Zebra & Giraffe,Leaving Again,2008-05-05,,N/A,At sunset that night<br>All I did was cry<br>F...
879791,Zebra & Giraffe,Running Faster,0000-00-00,,N/A,We keep running faster now<br>But it&apos;s ou...
879792,Zebra & Giraffe,The Knife,0000-00-00,,N/A,I&apos;ve got the cut you&apos;ve got the knif...

In [8]:
df.columns = ['Name','Song Title','Publication Date','Gender','Genre','Lyrics']

In [11]:
df2 = df.drop_duplicates()
df2

,Name,Song Title,Publication Date,Gender,Genre,Lyrics
0,A,Turn It Up,1998-06-22,Male,N/A,Turn it up<br>I don&apos;t know where you&apos...
1,A,Foghorn,1998-06-22,Male,N/A,"Sick of you, how old do you think you are?<br>..."
2,A,Cheeky Monkey,1998-06-22,Male,N/A,My name is Jason<br>I&apos;ll rock yer face in...
3,A,No. 1,1998-06-22,Male,N/A,Got to get out more<br>Get in the place<br>Got...
4,A,Bad Idea,1998-06-22,Male,N/A,Bad idea (x4) <br><br>Ninety-nine per cent is ...
...,...,...,...,...,...,...
879788,Zebra & Giraffe,Arm Yourself,0000-00-00,,N/A,I get the sense<br>As I look around tonight<br...
879789,Zebra & Giraffe,Black Crow,2008-05-05,,N/A,I thought I was invincible<br>Until I tried to...
879790,Zebra & Giraffe,Leaving Again,2008-05-05,,N/A,At sunset that night<br>All I did was cry<br>F...
879791,Zebra & Giraffe,Running Faster,0000-00-00,,N/A,We keep running faster now<br>But it&apos;s ou...
879792,Zebra & Giraffe,The Knife,0000-00-00,,N/A,I&apos;ve got the cut you&apos;ve got the knif...

In [13]:
df3 = df2.drop_duplicates(subset=['Lyrics'])

,index,Name,Song Title,Publication Date,Gender,Genre,Lyrics
0,0,A,Turn It Up,1998-06-22,Male,N/A,Turn it up<br>I don&apos;t know where you&apos...
1,1,A,Foghorn,1998-06-22,Male,N/A,"Sick of you, how old do you think you are?<br>..."
2,2,A,Cheeky Monkey,1998-06-22,Male,N/A,My name is Jason<br>I&apos;ll rock yer face in...
3,3,A,No. 1,1998-06-22,Male,N/A,Got to get out more<br>Get in the place<br>Got...
4,4,A,Bad Idea,1998-06-22,Male,N/A,Bad idea (x4) <br><br>Ninety-nine per cent is ...
...,...,...,...,...,...,...,...
692678,879783,Zebra & Giraffe,Pariahs,2008-05-05,,N/A,I had a dream last night<br>The sky lit up so ...
692679,879784,Zebra & Giraffe,A Long Way Down,2008-05-05,,N/A,"The joker&apos;s on the left of me, the vultur..."
692680,879785,Zebra & Giraffe,Hideaway,2008-05-05,,N/A,I own the world<br>I own the sun<br>I see the ...
692681,879786,Zebra & Giraffe,Love Like Water,2010-10-27,,N/A,Cold I want to feel you like the night. <br>As...
692682,879787,Zebra & Giraffe,Make This A Sign,2010-10-27,,N/A,I loved<br>With my heart<br>Looking back at th...

In [15]:
df3 = df3.reset_index()

In [21]:
df3.to_csv('530datasetV1.csv')

In [22]:
from sklearn.model_selection import train_test_split
train, dev_test = train_test_split(df3, test_size = 0.2)

In [24]:
dev, test = train_test_split(dev_test, test_size = 0.5)

In [25]:
train.to_csv('530datasetV1_train.csv')
dev.to_csv('530datasetV1_dev.csv')
test.to_csv('530datasetV1_test.csv')